/*
    Personal Webpage
    Copyright (C) 2019 Vojtěch Hořánek

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

:root {
    --sans: 'Arial', sans-serif;
    --serif: 'Times New Roman', serif;
    --c-primary: rgb(52, 152, 219);
    --c-secondary: rgb(43, 127, 184);
    --c-sec-hover: rgb(35, 105, 151);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, span, a {
    font-family: var(--serif);
    color: #212121;
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-family: var(--sans);
}

a {
    color: var(--c-primary);
}

a:visited {
    color: var(--c-sec-hover);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    background: var(--c-primary);
    color: white;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img" "title" "nav";
}

header img {
    grid-area: "img";
    height: 5rem;
    justify-self: center;
    border-radius: 100%;
    margin-top: 1.5rem;
    align-self: center;
}

header h1 {
    grid-area: title;
    margin: 1.5rem;
}

header h1, nav a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    grid-area: nav;
    background: var(--c-secondary);
    line-height: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    font-family: var(--sans);
    transition: background-color ease-in-out 200ms;
    display: inline-block;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background: var(--c-sec-hover);
}

nav a.active {
    background: var(--c-primary);
    transition: none;
}

main {
    grid-area: main;
}

article, section {
    padding: 1.5rem;
    position: relative;
}

section>article {
    margin: 1rem 0;
    padding: 0;
}

section h2 {
    margin-bottom: 1rem;
}

section h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: normal;
}

.button {
    color: white;
    display: inline-block;
    padding: .75rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    background: var(--c-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition-property: background-color, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
    margin: 1rem 1rem 0 0;
    font-family: var(--sans);
    letter-spacing: 1.4px;
}

.button:last-of-type {
    margin-right: 0;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--c-sec-hover);
}

.button:visited {
    color: white;
}

article h2 {
    margin-bottom: 1rem;
}

article p {
    line-height: 1.6;
}

article+article::before, article+section::before {
    content: '';
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 0.1rem;
}

section article::before {
    display: none;
}

footer {
    grid-area: footer;
    background: rgb(31, 31, 31);
    padding: 1rem;
    font-family: var(--sans);
    line-height: 2rem;
}

footer p {
    color: white;
}

@media only screen and (min-width: 720px) {
    header {
        height: 5rem;
        padding: 0 1rem 0 2rem;
        grid-template-areas: "img title nav";
        grid-template-columns: auto auto 1fr;
        line-height: 5rem;
    }
    header img {
        height: 3.5rem;
        margin: 0;
        margin-right: 1.5rem;
    }
    header h1 {
        margin: 0;
    }
    nav {
        background: var(--c-primary);
    }
    nav ul {
        justify-content: flex-end;
    }
    nav a {
        line-height: 5rem;
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }
    nav a.active {
        background: var(--c-secondary);
    }
}
